.symbol{
	font-size: 56pt;
	cursor: pointer;
	text-align: center;
}
.symbol-image{
	
}
.letters{
	display:inline-block;
}
.word{
	font-size:36pt;
	text-align: center;
}
.correct{
	height:50px;
	text-align:center;
	font-size:40px;
}
.bnt-center{
	display: flex;
	justify-content: center;
	
}
.jumbotron{
	text-align: center;	
}
.letter_img{
	max-height: 150px;

}
.logo{
	width: 256px;
	height: auto;
}