<div class="letters">
		<p><a href="/game" type="button" class="btn btn-default btn-lg">Вернуться к игре</a></p>
    	<img class="symbol col-xs-3" ng-repeat='x in alphabeth' class="letter_img" src='img/letters/{{x}}.gif'>{{x}}
    </div>