<div class="jumbotron">
	<img src="img/logo.jpg" class="img-circle logo">
    <h1>Destandable</h1> 
    <p>Какой-то слоган</p> 
    <a href="/game" type="button" class="btn btn-default btn-lg">Start</a>
    <!--<a href="/levels" type="button" class="btn btn-default btn-lg">All levels</a>-->
  </div>
	
