<div ng-init='count'>
			<p class="word">
				<span ng-repeat='x in word track by $index'>{{x}}</span>
			</p>
			<div class='correct'>{{correct}}</div>
			<p class="word"><span ng-repeat='x in yourWord track by $index'><img src='img/letters/{{x}}.gif' class="letter_img img-responsives"></span></p>
			<div class="letters">
				<img class="symbol col-xs-4 col-sm-3" ng-repeat='x in letters track by $index' ng-click='setItem(x);count = count + 1;countClick(x)' src='img/letters/{{x}}.gif'>
			</div>

			<div class="btn-group btn-group-lg bnt-center">
			  <button ng-click='nextLevel()' type="button" class="btn btn-success">Next</button>
			  <button ng-click='levelUp()' type="button" class="glyphicon glyphicon-arrow-up"></button>
			  <button ng-click='levelDown()' type="button" class="glyphicon glyphicon-arrow-down"></button>
			  <button ng-click='delete()' type="button" class="btn btn-danger">Delete</button>
			</div>
</div>