<div >
    <h1>All Levels</h1> 
    <a href="/level1" type="button" class="btn btn-default btn-lg">Level1</a>
    <p>
    <a href="/level2" type="button" class="btn btn-default btn-lg">Level2</a>
    <p>
    <a href="/level3" type="button" class="btn btn-default btn-lg">Level3</a>
    <p>
    <a href="/level4" type="button" class="btn btn-default btn-lg">Level4</a>
</div>
	
